"assets/images/additional_images/amanda professional photos of her/Amanda - 1.tif" 
"assets/images/additional_images/amanda professional photos of her/Amanda - 1.tif" 
assets/images/additional_images/amanda professional photos of her/Amanda - 1.tif
assets/images/additional_images_2/Blind Dinner 2/VIDEO_BlindDinner_v2_20200115.mp4 
