<section id="{{ section_id | default: section.id }}" class="lillier-section {{ classes }}">
  <div class="lillier-shell {{ width | default: 'lillier-shell--wide' }}">
    {{ content }}
  </div>
</section>
